body {
  background: #6f0765;
  color: #4c0045;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #ffb228;
  border: 5px solid #bd512f;
  position: fixed;
  top: 0;
  min-height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}


#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 10px;
}

.form-wrapper {
  background: #4c0045;
  border: 2px solid #ffb228;
  margin: 0;
  padding: 20px 0 0 0;
}

h2 {
  background: #ffb228;
  font-family: "Caveat", cursive;
  font-size: 30px;
  font-weight: bold;
  line-height: 2;
  max-width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  margin-top: 150px;
}

span {
  background: #4c0045;
  color: #ffb228;
  font-family: "Caveat", cursive;
  border-radius: 25px;
  padding: 10px 15px;
}

.container {
  background: #ffb228;
}

.logo {
  width: 60vw;
}

#header-img {
  max-width: 40%;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#email {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
