body {
  background: #6f0765;
  color: #4c0045;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}


#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 10px;
}

h2 {
  background: #ffb228;
  font-family: "Caveat", cursive;
  font-size: 30px;
  font-weight: bold;
  line-height: 3;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;;
  margin-top: 150px;
}

span {
  background: #4c0045;
  color: #ffb228;
  font-family: "Caveat", cursive;
  border-radius: 25px;
  box-shadow: rgba(228, 8, 217, 0.3) 0px 19px 38px, rgba(187, 14, 187, 0.22) 0px 15px 12px;
  padding: 10px 20px;
}

.container {
  background: #ffb228;
}

.logo {
  width: 60vw;
}

#header-img {
  max-width: 40%;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#email {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
